CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake-build-debug
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/docs/html/**
**/docs/out/**
*.html
*.png
docs/readme.md
